<div>
  <div>
      <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
          <div><a class="navbar-brand" routerLink="movies"><img style="height: 40px" src="https://thumbs.dreamstime.com/b/word-anime-written-watercolor-over-white-paper-background-90289532.jpg" alt=""></a></div>

            <ul class="navbar-nav  ml-auto">
              <li class="nav-item">
                <button class="nav-link" routerLink="movies" > Movies</button>
                <!-- <a class="nav-link" routerLink="movies" style="color: white;"> Movies</a> -->
              </li>

              <li class="nav-item">
                <button class="nav-link" routerLink="view"> Bookings</button>
                <!-- <a class="nav-link" routerLink="view" style="color: white;" >Bookings</a> -->
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <!-- <marquee behavior="fast" direction="left">Watch by booking your favourite Anime Shows @Anime</marquee> -->
    <router-outlet></router-outlet>

  </div>
