<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}}
    </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="mid">
    <th mat-header-cell *matHeaderCellDef> Movie Screen </th>
    <td mat-cell *matCellDef="let element"> {{element.mid}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="show">
    <th mat-header-cell *matHeaderCellDef> ShowTime </th>
    <td mat-cell *matCellDef="let element"> {{element.show}} </td>
  </ng-container>

  <ng-container matColumnDef="tickets">
    <th mat-header-cell *matHeaderCellDef> Tickets </th>
    <td mat-cell *matCellDef="let element"> {{element.tickets}}

    </td>
  </ng-container>

  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"> <a  class="btn btn-primary b" (click)="[edit(element)]">Edit</a> <button mat-icon-button color="warn">
      <mat-icon (click)="deleter(element.id)">delete</mat-icon>
    </button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

